@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    background-image: linear-gradient(to right top, #000000, #1b1b1b, #2f2f2f, #444444, #5b5b5b);
    color: antiquewhite;
    font-family: 'Libre Baskerville', serif;    
}

body::-webkit-scrollbar {
    width: 0.45rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24
}
body::-webkit-scrollbar-thumb {
    background: #484849
}

img {
    float: right;
    max-width: 100%;
    height: auto;
    border: 10px solid rgb(39, 38, 38);
    display: block;
    margin: auto;
}

nav {
    display: block;
}
.nav {
    text-align: center;
}
a {
    font-size: 24px;
    border-right: 1px solid rgb(0, 0, 0);
    padding: 0px 12px;
    color: antiquewhite;
}

a:hover {
    color: black;
    opacity: 50%;
}



